/* 
	Designer & Developer: M Nazim Uddin Molla;
	E-mail: mohnazimuddin@gmail.com;
	Phone: +8801711062063, +8801515243401;
	Facebook: www.facebook.com/nzm404;
	Gitlab: https://gitlab.com/mnazimmolla;
	Github: https://github.com/mnazimmolla;
*/
*{
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none !important;
}
a:hover {
    text-decoration: none !important;
}
.header{
    width: 100%;
    height: auto;
}
.header nav{
    background: #fff;
    overflow: hidden;
    position: absolute;
    width: 100%;
    padding: 5px;
    font-size: 12px;
    text-transform: uppercase;
    border-bottom: 1px solid #e7e7e7;
    position: fixed;
     z-index: 999;

/*    box-shadow: -2px -7px 47px 9px rgba(0,0,0,0.35);
    -moz-box-shadow: -2px -7px 47px 9px rgba(0,0,0,0.35);
    -webkit-box-shadow: -2px -7px 47px 9px rgba(0,0,0,0.35);*/
}

.header .logo-section{
    float: left;
    padding: 18px;
}

.header .hb-button{
    float: right;
    background: #222;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    display: none;
}
 
.header nav a{
    text-decoration: none;
    color: #9d9d9d;
    padding: 5px;
}
.header nav a:hover {
    color: #000;    
}
.header nav ul{
    overflow: hidden;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: right;
    transition: max-height 0.5s;
    -webkit-transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
    -ms-transition: max-height 0.5s;
    -o-transition: max-height 0.5s;
}

.header nav ul li{
    /*float: right;*/
    display: inline-block;
    padding: 20px 10px 20px 10px;
    color: #9d9d9d;
}
.header nav ul li a:hover{
    color: #000;
}
.header li > a{
    position: relative;
    color: #9d9d9d;
    text-decoration: none;
}
.header li > a:before{
    content:"";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #9d9d9d;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.header li > a:hover:before{
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
@media screen and (max-width: 768px){
    .header .logo-section{
        float: none;
    }
    .header nav ul{
        background: #ffffff;
        max-height: 0;
        width: 100%;
    }
    .header nav ul.show{
        max-height: 20em;
    }
    .header nav ul li{
        box-sizing: border-box;
        width: 100%;
        padding: 15px;
    }
    .header .hb-button{
        display: inline;
    }
}
