/* 
	Designer & Developer: M Nazim Uddin Molla;
	E-mail: mohnazimuddin@gmail.com;
	Phone: +8801711062063, +8801515243401;
	Facebook: www.facebook.com/nzm404;
	Gitlab: https://gitlab.com/mnazimmolla;
	Github: https://github.com/mnazimmolla;
*/
body{
    font-family: 'Montserrat', sans-serif !important;
    height: auto;
    /*overflow: hidden;*/
    overflow-x: hidden !important;
    background-color: #fff;
}
li, ul {
  list-style: none;
  list-style-type: none;
}
.img-responsive img {
  max-width: 100% !important;
  height: auto !important;
}
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 99;
}
#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url(https://raw.githubusercontent.com/niklausgerber/PreLoadMe/master/img/status.gif);
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
}

/* Home Page */
.header .container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    background-color: #777;
}
.clearfix {
    clear: both;
    top: 0;
}
.hero-banner {
    margin-top: 7px;
    background-image: url(../img/banner/pexels-photo-346731.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    padding: 200px 50px 220px 180px;
}
.hero-promo {
    font-size: 18px;
}
.org {
    font-size: 45px;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 900;
}
.services-text p {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
}
.hero-banner .btn {
    background-color: transparent;
    border: 1px solid #333;
    border-radius: 0px;
    padding: 5px 20px;
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 70px;
}
.hero-banner .btn:hover {
    background-color: #000;
    color: #e3e3e3;
}


.home-client, .home-partner {
  margin-top: 50px;
}
.home-client section, .home-partner section {
  margin-top: 30px;
}
.home-client-heading, .home-partner-heading {
  text-align: center;
  font-size: 12px;
  color: #000;
  text-transform: uppercase;
  border: 1px solid #000;
  max-width: 150px;
  margin: 0 auto;
  padding-top: 10px;
}
.customer-logos-item, .partner-logos-item {
  max-width: 100px;
  height: auto;
}
.promotional-banner {
    margin-top: 50px;
    background-image: url(../img/banner/pexels-photo-296878.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    padding: 120px 0px 100px 0px; 
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}
.promotional-banner p {
    font-weight: 900;
    font-size: 50px;
}
.promotional-banner .btn {
  padding: 10px 20px;
  border-radius: 0px;
  background-color: transparent;
  border: 1px solid #fff;
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
  margin-top: 100px;
}
.promotional-banner .btn:hover {
  color: #fff;
  border: 1px solid #000;
}
.client-testmonials {
    margin-top: 50px;
    background-image: url(../img/banner/pexels-photo.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 50px; 
    text-align: center;
}
.client-test-heading {
  text-transform: uppercase;
  font-size: 12px;
  color: #fff;
}
.footer {
  background-color: #e7e7e7;
  padding: 100px 0px 60px 0px;
  border-top: 1px solid #333; 
}
.footer-social-media {
  text-align: center;
}
.footer-social-media a {
  color: #333;
  font-size: 18px;
  margin: 0px 2px;
}
.footer-para {
  text-align: center;
  color: #333;
  line-height: 1;
}
/* Home Page */

/* Contact Page */
.contact-from-bg, .team-page-bg, .about-page-bg, .portfolio-page-bg, .client-partner-page-bg, .blog-page-bg, .blog-single-page-bg, .service-page-bg {
  margin-top: 24px;
  padding: 35px;
  text-transform: uppercase;
  text-align: center; 
  color: #333;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.contact-from-bg {
    background-image: url(../img/banner/Contact-us-background.jpg);
}
.contact-from {
  color: #7e7e7e;
  padding: 30px 0px 100px 0px;
  text-align: center;
}
.contact-from .form-control, .contact-from .btn {
  border: 1px solid #ccc;
  border-radius: Inherit;
  font-size: 12px;
}
.contact-from .form-control:focus, .contact-from .btn:focus {
  border: 1px solid #333;
  box-shadow: none;
  color: #333;
}
.contact-from .btn {
  background-color: transparent;
  background-image: none;
  text-transform: uppercase;
  font-size: 12px;
}
/* Contact Page */

/* Team Page */
.team-page-bg {
  background-image: url(../img/banner/woman-hand-smartphone-desk.jpg);
}
.team-member {
  text-align: center;
  line-height: 1;
  padding: 60px 0px 120px 0px;
}
.member-name {
  font-weight: 600;
  font-size: 15px;
}
.team-member img {
  width: 200px;
  height: 200px;
}
.team-member a {
  text-decoration: none;
  color: #333;
  margin: 0px 3px;
}
/* Team Page */

/* About US Page */
.about-page-bg {
  background-image: url(../img/banner/coffee-work-desk-mug-keyboard-162616.jpg);
}
.about-us-page {
  padding: 30px 0px 160px 0px;
}
.about-us-page .about-heading {
    font-size: 30px;
    font-weight: 300;
    line-height: 40px;
    text-transform: uppercase;
}
.about-us-page .about-desc {
  text-align: justify;
}
/* About US Page */

/* Portfolio Page */
.portfolio-page-bg {
    background-image: url(../img/banner/pexels-photo-574073.jpg);
}
.portfolio-page {
  padding-bottom: 30px;
}
.portfolio-page a {
  text-decoration: none;
  color: #000;
}
.portfolio-page img{
  width: 100%;
  max-height: 200px;
  box-shadow: 5px 10px 18px #000;
}
.port-item-title, .port-item-desc {
  padding: 0px 5px;
  font-size: 12px;
}
.portfolio-item {
  margin-top: 30px;
}
.port-item-title {
  text-transform: uppercase;
}
.port-item-desc {
  text-transform: capitalize;
}
/* Portfolio Page */

/* client Page */
.client-partner-page {
  padding: 10px 0px 50px 0px;
  color: #000;
}
.clients-heading {
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 15px;
  margin-bottom: 10px;
}
.client-partner-page img{
  margin: 0 auto;
  max-height: 100px;
  max-width: 100px;
  vertical-align: middle;
}
.client-logo {
  margin-top: 20px;
}
.partners {
  margin-top: 30px;
}
.client-partner-page-bg {
    background-image: url(../img/banner/document-agreement-documents-sign-48195.jpg);
}
/* client Page */

/* Blog Page */
.blog-page {
  padding: 10px 0px 60px 0px;
}
.blog-item {
  margin-top: 30px;
}
.blog-item img {
  margin: 0 auto; 
  box-shadow: 5px 10px 18px #000;
}
.blog-heading {
  margin-top: 20px;
}
.blog-heading a{
  color: #222;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 15px;
}
.blog-date {
  text-transform: uppercase;
  font-size: 12px;
}
.blog-desc {
  font-size: 13px;  
}
.blog-item .btn {
  text-transform: uppercase;
  border-radius: inherit;
  background-color: transparent;
  border: 1px solid #ccc;
  font-size: 10px;
  margin-top: 10px;
}
.blog-item .btn:hover {
  background-color: #000;
  border: 1px solid #e7e7e7;
  color: #fff;
}
.blog-page-bg {
    background-image: url(../img/banner/pexels-photo-365637.jpg);
}

/* Blog Page */

/* Blog Single Page */
.blog-single-page-bg {
  background-image: url(https://images.pexels.com/photos/317371/pexels-photo-317371.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
}
.blog-single-page {
  padding: 5px 0px 50px 0px;
}
.blog-single-page .blog-heading {
  color: #222;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 25px;
} 
.blog-single-page .blog-desc {
  text-align: justify;
  margin-top: 15px;
}
/* Blog Single Page */

/* Service Page */
.service-page-bg {
    background-image: url(http://www.giraffecvs.co.uk/wp-content/uploads/2015/08/Dollarphotoclub_68677358.jpg);
}
.service-page {
  padding: 20px 0px 50px 0px; 
}
.service-item {
  margin-top: 20px;
}
.service-heading {
  font-weight: 600;
  text-transform: uppercase;
}
.service-heading, .service-icon {
  text-align: center;
}
.service-desc {
  text-align: justify;
}
/* Service Page */

